*{
    padding: 0;
    margin: 0;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-right: 4px;
}

 .container {
    padding: 40px 0;
}

input {
    border-radius: 5px;
}

